@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



/*************************
*******Typography******
**************************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #434A54;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.sub-heading{
  border-left: 4px double #2ac6f7;
  margin-bottom: 30px
}
.sub-heading h2{
  margin: 0px;
  text-transform: uppercase;
  
}

.sub-heading span{
  text-transform: uppercase;
  letter-spacing: .5px
}


/*************************
*******Button******
**************************/
.btn {
  border: 0;
  border-radius: 0;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

section {
  padding: 50px 0;
}


/*************************
*******Preloader******
**************************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}


/*************************
********Home CSS**********
**************************/

#tf-menu {
    margin-bottom: 0;
    background-color: #028fcc;
    height: auto;
    border-bottom: none
}
.navbar-brand img {
    width: auto;
    margin:10px 0px
}
.navbar-brand { 
  float: left;
  padding: 0
}
.navbar-nav > li > a {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,.2);
    color: #fff;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover>.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus>.navbar-default .navbar-toggle .icon-bar { color: #FFCC33 }


/* Header Page */
.caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.caption-btn {
  position: absolute;
  bottom: 30%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}


.caption h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 30px;
  font-size: 60px;
}

.caption p {
  color: #fff;
  font-weight: 300;
  font-size: 30px
}

.caption-btn .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding:10px 15px;
  background: #028fcc;
  border-radius: 1px;
  margin-top: 40px;
}

.fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

#tf-header {
    padding: 20px 0;
    background: #ffcc33;
    margin-top: 70px;
    color: #ffffff;
}
#tf-header .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: -10px;
}
#tf-header .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}
#tf-header .breadcrumb > li a { color: #ffffff }
/* Home Style */
#tf-home {
    background: url(../images/slider/2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
}
#tf-home .overlay {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
    padding: 20% 0;
    background-attachment: fixed;
    min-height: 100%;
}
#tf-home h1 { color: #ffcc33 }
.content-heading p.lead { margin-bottom: 80px }
a.goto-btn {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
    transition: all 0.5s;
}
a.goto-btn:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffcc33;
}




/*************************
********About CSS*******
**************************/
#about-us {
  padding: 60px 0;
}

.vimeo-video{
  margin: 20px 0px
}



/*************************
********portfolio CSS*****
**************************/

#portfolio {
  padding-top:70px;
  padding-bottom: 0px;
}

.hover-bg .hover-text {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 20px;
    color: #ffffff;
    transition: all 0.8s;
    -webkit-transition: all 08s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.hover-bg .hover-text.off {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transform: translateX(100%) translateY(-90%);
    transform: translateX(100%) translateY(-90%);
    opacity: 1;
    background: rgba(0, 0, 0, 0.70);
}
.hover-bg:hover .hover-text.off {
    -webkit-transform: translateX(0%) translateY(-90%);
    transform: translateX(0%)  translateY(-90%);
    opacity: 1;
}

#tf-works { padding: 60px 0 }
ul.cat { margin: 30px 0 }
ul.cat li a {
    background: inherit;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
}
ul.cat li a:hover,
ul.cat li a:focus,
ul.cat li a.active {
    background: #2ac6f7;
    border: 1px solid #2ac6f7;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
}
.nopadding { padding: 0 }
.box a { margin: 2px }
.box .hover-bg {
    position: relative;
    overflow: hidden;
}
.box .hover-bg .hover-text {
    height: 100%;
    bottom: 0;
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    background: transparent;
}
.box:hover .hover-bg .hover-text { background-color: rgba(1, 1, 1, 0.5) }
.box .hover-bg:hover .hover-text.off {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}
.box .hover-text i.fa {
    font-size: 20px;
    background: #2ac6f7;
    color: #fff;
    padding: 13px;
    position: relative;
    top: 40%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: all 0.5s;
}
.box .hover-text i.fa:hover { background: #fff;color:#2ac6f7 }
.box .hover-text i.fa.fa-expand {
    border-top-right-radius: 0;
    -webkit-transform: translateX(-400%) translateY(0%);
    transform: translateX(-400%)  translateY(0%);
    opacity: 0;
    transition: all 0.5s;
}
.box:hover .hover-text i.fa.fa-expand {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}
.box .hover-text i.fa.fa-chain {
    border-top-left-radius: 0;
    -webkit-transform: translateX(400%) translateY(0%);
    transform: translateX(400%)  translateY(0%);
    opacity: 0;
    transition: all 0.5s;
}
.box:hover .hover-text i.fa.fa-chain {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}



/* Isotope Filter */
.isotope-item { z-index: 2 }

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
    font-size: 14px;
    background: #f1f1f1;
    border: 1px solid #333;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 35px;
    border-radius: 2px;
}
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #ffffff !important;
    background: rgba(255, 255, 255, 1) !important;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav,
.nivo-lightbox-theme-default .nivo-lightbox-close { opacity: 1 }
.nivo-lightbox-error {
    color: #C59A6D !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    border-top: 4px solid #ffcc33;
}

/*************************
*********Team CSS*********
**************************/
.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}






#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}




/*
========================================================================
# 13 - Contact styles
------------------------------------------------------------------------
*/

.sub-head, .title{
  text-transform: uppercase
}

section.contact {
  padding-top: 120px;
  padding-bottom: 0;
  background: #ECF0F3
}
section.contact > .container {
  margin-top: -180px;
}
.contact .nav-tabs {
  border-bottom: none;
  position: relative;
  z-index: 1;
}
.contact .nav-tabs li {
  float: none;
  display: inline-block;
  margin: 0 9% 25px;
}
.contact .nav-tabs > li > a {
  background: transparent;
  margin: 0;
  position: initial;
}
.contact .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent;
}
.contact .nav > li > a:hover, .contact .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.contact .nav-tabs li .fa {
  background: #0aabe1;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 50px;
  height: 100px;
  line-height: 2;
  width: 100px;
          box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
     -moz-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
}
.contact .nav-tabs > li.active > a,
.contact .nav-tabs > li.active > a:hover,
.contact .nav-tabs > li.active > a:focus {
  border: 1px solid transparent;
}

.contact .nav-tabs li .fa:hover,
.contact .nav-tabs > li.active > a .fa,
.contact .nav-tabs > li.active > a:hover .fa,
.contact .nav-tabs > li.active > a:focus .fa {
  background: #fff;
  color: #0aabe1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
     -moz-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
          box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
}
.contact-success {
  background: transparent;
  border: 1px solid #64AB89;
  border-radius: 2px;
  padding: 5px;
  color: #64AB89;
  text-align: center;
  display: none;
} 

.contact-error {
  background: transparent;
  border: 1px solid #A87C7C;
  border-radius: 2px;
  padding: 5px;
  color: #A87C7C;
  text-align: center;
  display: none;
}

/*
=============================================
# - 13.1 - Contact-info
--------------------------------------------
*/

.info-holder{
  margin-bottom: 50px;
}
.contact-info .fa {
  font-size: 50px;
  color: #0aabe1; 
  margin-bottom: 50px;
} 

/*
=============================================
# - 13.2 - Contact-form
--------------------------------------------
*/

.span-form {
  float: left;
  width: 49%;
  margin-left: 2%;
}
.form-group .span-form:first-child {
  margin-left: 0;
}
.form-horizontal:after {
  content: "";
  display: table;
}
.form-horizontal:after {
  clear: both;
}
.contact .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.contact .form-horizontal {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.contact .form-control {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  height: 60px;
  box-shadow: 0 0px 0px transparent;
}
.contact .form-control:focus {
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #0aabe1;
}
.contact textarea.form-control {
  height: 135px;
}
.contact .btn {
  padding: 19px 10px;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.contact .btn:hover {
  background: #0aabe1;
  color: #fff;
} 

    /* ==========================================================================
Google Map Style
========================================================================== */
#map {
  width: 100%;
  height: 400px;
}



/*Presets*/
.style-chooser {
  width: 210px;
  left: -210px;
  position: fixed;
  top: 100px;
  z-index: 99999;
  -webkit-transition: left 400ms;
  transition: left 400ms;
}

.style-chooser.opened {
  left: 0;
}

.style-chooser .toggler {
  position: absolute;
  top: 0;
  right: -48px;
  display: inline-block;
  background: #2ac6f7;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.style-chooser-inner {
  position: relative;
  background: #f5f5f5;
  padding: 15px;
}

.style-chooser-inner h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.style-chooser-inner ul {
  list-style: none;
  padding: 0;
  margin: -5px;
}

.style-chooser-inner ul li {
  display: block;
  width: 60px;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.style-chooser-inner ul li.active a {
  -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2) inset;
  box-shadow: 0 0 0 3px rgba(0,0,0,.2) inset;
}

.style-chooser-inner ul li a {
  display: block;
  height: 40px;
}

.style-chooser-inner ul li.preset1 a {
  background: #028fcc;
}

.style-chooser-inner ul li.preset1 a:hover {
  background: #027db3;
}

.style-chooser-inner ul li.preset2 a {
  background: #f27935;
}

.style-chooser-inner ul li.preset2 a:hover {
  background: #db6625;
}

.style-chooser-inner ul li.preset3 a {
  background: #7FBA00;
}

.style-chooser-inner ul li.preset3 a:hover {
  background: #6ea100;
}

.style-chooser-inner ul li.preset4 a {
  background: #0db3c7;
}

.style-chooser-inner ul li.preset4 a:hover {
  background: #0a8897;
}

.style-chooser-inner ul li.preset5 a {
  background: #913d88;
}

.style-chooser-inner ul li.preset5 a:hover {
  background: #6d2e66;
}

.style-chooser-inner ul li.preset6 a {
  background: #f7ca18;
}

.style-chooser-inner ul li.preset6 a:hover {
  background: #d5ab07;
}


