@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



/*************************
*******Typography******
**************************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #434A54;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}


/*************************
*******Parallax******
**************************/
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}


/*************************
*******Button******
**************************/
.btn {
  border: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #017fb5;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

section {
  padding: 50px 0;
}


/*************************
*******Preloader******
**************************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}


/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption-btn {
  position: absolute;
  bottom: 30%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}


#home-slider .caption h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 30px;
  font-size: 60px;
}

#home-slider .caption p {
  color: #fff;
  font-weight: 300;
  font-size: 30px
}

.caption-btn .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding:10px 15px;
  background: #028fcc;
  border-radius: 1px;
  margin-top: 40px;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-right li a:hover {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

.navbar-brand {
    float: left;
    padding: 0;
}

.navbar-brand img{
  margin:10px 0px;
}




/*************************
********Service CSS*******
**************************/
.sub-heading{
  border-left: 4px double #2ac6f7;
  margin-bottom: 30px
}
.sub-heading h2{
  margin: 0px;
  text-transform: uppercase;
  
}

.sub-heading span{
  text-transform: uppercase;
  letter-spacing: .5px
}

.services li a{
  border-radius: 0px;
  padding: 25px 15px;
  margin-bottom: 5px;
  border:1px solid #028fcc;
}

.services>li.active>a, .services>li.active>a:focus, .services>li.active>a:hover{
  background: #028fcc;
  border:1px solid #028fcc;
}





/*************************
********About CSS*******
**************************/
#about-us {
  padding: 60px 0;
}

.vimeo-video{
  margin: 20px 0px
}



/*************************
********portfolio CSS*****
**************************/

#portfolio {
  padding-top:70px;
  padding-bottom: 100px;
  background:#F6F6F6
}


#portfolio 
.portfolio-filter {
  margin-bottom:40px;
  margin-top:10px;
  padding-left: 0px
}

#portfolio 
.portfolio-filter li {
  display: inline-block;
}

#portfolio 
.portfolio-filter li a:hover, 
#portfolio 
.portfolio-filter li a:focus,
#portfolio 
.portfolio-filter li a:active , 
#portfolio 
.portfolio-filter li .active{
  background: #2ac6f7;
	color: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}

#portfolio 
.portfolio-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
}

.portfolio-items > div{
  padding:0;
}

.portfolio-items img{
  width:100%;
}

.view {  
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width:100%;
}

.efffect h4 {  
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear 0s;
}

.efffect h3 {
	opacity: 0;
	transform: scale(0);
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}

.efffect img {
	transform: scaleY(1);
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);  
	transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	-o-transition: all 0.7s ease-in-out 0s;
}

.view img {
	display: block;
	position: relative;
}

.efffect .mask {
	background-color: #F6F6F6;
    border:5px solid #2ac6f7;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	opacity: 0
}

.view .mask, .view .content {
	height:100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width:100%;
}

.mask h3 {
	color: #43484E;
	font-family: cabin;
	font-size: 22px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: uppercase;
	transition: height 500ms ease 0s;
}

.mask h4 {
	color:#000;
	font-family: roboto;
	font-size: 14px;
	font-weight: 200;
	padding: 0 35px 5px;
}

.mask i {
	border: 2px solid #2ac6f7;
	border-radius: 50%;
	color: #333;
	font-size: 17px;
	margin-left: 8px;
	padding: 8px;
}

.mask i:hover{
	background-color:#2ac6f7;
	color:#fff;  
}

/*==================================
====== Portfolio Hover effect=======
====================================*/


.efffect img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.efffect .mask {
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   cursor: zoom-in;
}
.efffect h4 {   
   background: transparent;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect h3 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   font-size:22px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.mask a i {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform:rotate(-180deg);
   -moz-transform:rotate(-180deg);
   -o-transform:rotate(-180deg);
   -ms-transform:rotate(-180deg);
   transform:rotate(-180deg);
   -webkit-transition:all 0.5s linear 0.7s;
   -moz-transition: all 0.5s linear 0.7s;
   -o-transition:all 0.5s linear 0.7s;
   -ms-transition:all 0.5s linear 0.7s;
   transition:all 0.5s linear 0.7s;
}
.efffect:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.efffect:hover h4,.efffect:hover h3,.efffect:hover a i {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*************************
*********Team CSS*********
**************************/
#team {
  padding-top: 0;
}

.team-members {
  margin-bottom: 25px;
}

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-member {
  text-align: center;
  color: #333;
  font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

.member-info h3 {
  margin-top: 35px;
}

.member-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #999;
}


/*************************
*******Features CSS*******
**************************/
#features {
  text-align: center;
  background-image: url(../images/counter.jpg);
}

#features i {
  font-size: 48px;
}

#features h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}


/*************************
*****Pricing Table CSS****
**************************/
.pricing-table {
  text-align: center;
}

.pricing_heading {
  margin-top: 120px
}

.pricing_heading h2, 
.pricing_heading p {
  color:#4e4e4e;
}

.pricing-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff
}

.pricing-area span {
  font-weight: 700;
  font-size: 18px;
}

.pricing-area h3, 
.pricing-area span  {
  color: #fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.pricing-area ul {
  background:#FAFAFA;
  padding: 0;
  margin: 0;
}

.pricing-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.pricing-area ul li:nth-child(even){
  background:#f5f5f5
}

.pricing-area .price-three img, 
.pricing-area .price-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three {
  padding:17px 0;
  border-radius:2px 2px 0 0;
} 

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three, 
.pricing-area .heading-four, 
.pricing-area .heading-five, 
.pricing-area .heading-six, 
.pricing-area .heading-seven {
  margin-left: -10px
}


.pricing-area .heading-one, 
.pricing-area .price-one .plan-action .btn-primary {
  background: #2c3e50
}

.pricing-area .heading-two, 
.pricing-area .price-two .plan-action .btn-primary {
  background:#2c3e50;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
  background: #028fcc;
}


.pricing-area .bg{
 background: #fafafa 
}



.plan-action {
  height: 40px;
}

.pricing-area .plan-action .btn-primary {
  position: relative;
  padding:5px 20px;
  color: #fff
;
  margin-top: 5px;
}

.pricing-area .plan-action .btn-primary:before {
  border-color: #2c3e50 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  width: 0;
  z-index: -1;
}

.pricing-area .plan-action .btn-primary:after {
  border-color: #2c3e50 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  position: absolute;
  right: -9px;
  width: 0;
  z-index: -1;
}

.pricing-area .price-two .plan-action .btn-primary:before, 
.pricing-area .price-two .plan-action .btn-primary:after {
  border-color: #2c3e50 transparent transparent;
}

.pricing-area .price-three .plan-action .btn-primary:before, 
.pricing-area .price-three .plan-action .btn-primary:after {
  border-color: #028fcc transparent transparent;
}


/* ------------------------------------	*/
/*  	 6. Testimonial Page			*/
/* -----------------------------------	*/

#testimonials{
  background:#ECF0F3;
}
.single-review{
  display:none;
}
.single-review.active{
  display:block;
}
.reviews-list{
  margin:0;
  padding:0;
  list-style:none;
}
.reviews-list li{
  float:left;
  width:25%;
}
.reviews-list li img{
  height:auto;
  width:100%;
}
.review_section{
  background:#F5F7FA;
  overflow:hidden;
  position:relative;
}
.review_section:before, .review_section:after{
  background:none repeat scroll 0 0 #fff;
  content:"";
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:15px;
  z-index:99;
}
.review_section:after{
  left:auto;
  right:0;
}
.single-review{
  padding-right:30px;
}

.single-review > p{
  padding-top:50px;
  text-align: justify;
}

.review-info h2{
  margin-bottom:10px;
  margin-top:30px;
  color:#666;
  font-weight:400;
}
.reviews-list li a{
  position:relative;
  display:block;
}
.reviews-list li a:before{
  background:none repeat scroll 0 0 #333;
  content:"";
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  opacity:.6;
}
.reviews-list li.active a:before , .reviews-list li:hover a:before{
  display:none;
}


/* ------------------------------------	*/
/*  		 11. Partners Page			*/
/* -----------------------------------	*/

section#clients{
  padding-bottom: 100px
}

.single-partner{
margin:0 5px;
}
.single-partner img{
border:1px solid #57BDDB;
width:100%;
}
.owl-buttons{
margin-top:10px;
margin-left:5px;
}
.owl-buttons div{
border:1px solid #57BDDB;
color:#57BDDB;
display:inline-block;
font-size:20px;
height:30px;
line-height:25px;
margin-right:10px;
text-align:center;
width:30px;
}
.owl-buttons div.owl-prev{
}
.owl-buttons div.owl-next{
}
.owl-buttons div:hover{
opacity:.6;
}




/*************************
**********Contact CSS*****
**************************/

/*#contact {
  padding-top: 45px;
  padding-bottom: 0;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image:url(../images/contact-bg.jpg);
  padding-bottom: 90px; 
}

#contact-us .heading {
  padding-top: 95px;
}

.form-control {
  background-color: transparent;
  border-color: rgba(255,255,255,.1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}*/

#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}




/*
========================================================================
# 13 - Contact styles
------------------------------------------------------------------------
*/

.sub-head, .title{
  text-transform: uppercase
}

section.contact {
  padding-top: 120px;
  padding-bottom: 0;
  background: #ECF0F3
}
section.contact > .container {
  margin-top: -180px;
}
.contact .nav-tabs {
  border-bottom: none;
  position: relative;
  z-index: 1;
}
.contact .nav-tabs li {
  float: none;
  display: inline-block;
  margin: 0 9% 25px;
}
.contact .nav-tabs > li > a {
  background: transparent;
  margin: 0;
  position: initial;
}
.contact .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent;
}
.contact .nav > li > a:hover, .contact .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.contact .nav-tabs li .fa {
  background: #0aabe1;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 50px;
  height: 100px;
  line-height: 2;
  width: 100px;
          box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
     -moz-box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);
}
.contact .nav-tabs > li.active > a,
.contact .nav-tabs > li.active > a:hover,
.contact .nav-tabs > li.active > a:focus {
  border: 1px solid transparent;
}

.contact .nav-tabs li .fa:hover,
.contact .nav-tabs > li.active > a .fa,
.contact .nav-tabs > li.active > a:hover .fa,
.contact .nav-tabs > li.active > a:focus .fa {
  background: #fff;
  color: #0aabe1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
     -moz-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
          box-shadow: 0px 0px 0px 20px rgba(255, 255, 255,0.75);
}
.contact-success {
  background: transparent;
  border: 1px solid #64AB89;
  border-radius: 2px;
  padding: 5px;
  color: #64AB89;
  text-align: center;
  display: none;
} 

.contact-error {
  background: transparent;
  border: 1px solid #A87C7C;
  border-radius: 2px;
  padding: 5px;
  color: #A87C7C;
  text-align: center;
  display: none;
}

/*
=============================================
# - 13.1 - Contact-info
--------------------------------------------
*/

.info-holder{
  margin-bottom: 50px;
}
.contact-info .fa {
  font-size: 50px;
  color: #0aabe1; 
  margin-bottom: 50px;
} 

/*
=============================================
# - 13.2 - Contact-form
--------------------------------------------
*/

.span-form {
  float: left;
  width: 49%;
  margin-left: 2%;
}
.form-group .span-form:first-child {
  margin-left: 0;
}
.form-horizontal:after {
  content: "";
  display: table;
}
.form-horizontal:after {
  clear: both;
}
.contact .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.contact .form-horizontal {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.contact .form-control {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  height: 60px;
  box-shadow: 0 0px 0px transparent;
}
.contact .form-control:focus {
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #0aabe1;
}
.contact textarea.form-control {
  height: 135px;
}
.contact .btn {
  padding: 19px 10px;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.contact .btn:hover {
  background: #0aabe1;
  color: #fff;
} 



/*Presets*/
.style-chooser {
  width: 210px;
  left: -210px;
  position: fixed;
  top: 100px;
  z-index: 99999;
  -webkit-transition: left 400ms;
  transition: left 400ms;
}

.style-chooser.opened {
  left: 0;
}

.style-chooser .toggler {
  position: absolute;
  top: 0;
  right: -48px;
  display: inline-block;
  background: #2ac6f7;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.style-chooser-inner {
  position: relative;
  background: #f5f5f5;
  padding: 15px;
}

.style-chooser-inner h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.style-chooser-inner ul {
  list-style: none;
  padding: 0;
  margin: -5px;
}

.style-chooser-inner ul li {
  display: block;
  width: 60px;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.style-chooser-inner ul li.active a {
  -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2) inset;
  box-shadow: 0 0 0 3px rgba(0,0,0,.2) inset;
}

.style-chooser-inner ul li a {
  display: block;
  height: 40px;
}

.style-chooser-inner ul li.preset1 a {
  background: #028fcc;
}

.style-chooser-inner ul li.preset1 a:hover {
  background: #027db3;
}

.style-chooser-inner ul li.preset2 a {
  background: #f27935;
}

.style-chooser-inner ul li.preset2 a:hover {
  background: #db6625;
}

.style-chooser-inner ul li.preset3 a {
  background: #7FBA00;
}

.style-chooser-inner ul li.preset3 a:hover {
  background: #6ea100;
}

.style-chooser-inner ul li.preset4 a {
  background: #0db3c7;
}

.style-chooser-inner ul li.preset4 a:hover {
  background: #0a8897;
}

.style-chooser-inner ul li.preset5 a {
  background: #913d88;
}

.style-chooser-inner ul li.preset5 a:hover {
  background: #6d2e66;
}

.style-chooser-inner ul li.preset6 a {
  background: #f7ca18;
}

.style-chooser-inner ul li.preset6 a:hover {
  background: #d5ab07;
}


