/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.contact-info {
		padding-left: 0;
	}
	.contact .nav-tabs li {
		display: inline-block;
		margin: 0 25px;
	}
	.contact .nav-tabs li .fa {
		background: #0aabe1;
		text-align: center;
		border-radius: 50%;
		color: #fff;
		font-size: 14px;
		height: 32px;
		line-height: 2;
		width: 32px;
	}
	section.contact {
		padding-top: 145px;
	}
	.sub-head{
		display: block;
		margin-top: 20px;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	#home-slider .caption h1 {
		font-size: 24px;
		letter-spacing: 5px;
	}
	#home-slider .caption p {
		color: #fff;
		font-weight: 300;
		font-size: 20px;
	}
	.navbar-header {
		min-height: 80px;
	}
	button.navbar-toggle {
		margin: 23px;
	}
	.navbar-brand {
		padding: 0 5px 5px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}
	#portfolio .portfolio-filter li a {
		font-size: 12px;
		text-transform: capitalize;
		padding: 5px
	}

	
	.about-info {
		text-align: justify;
		margin-bottom: 0;
	}
	
	#portfolio .col-sm-3  {
		width: 50%;
		float: left;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}	
	.contact-info {
		padding-left: 0;
	}
	.contact .nav-tabs li {
		display: inline-block;
		margin: 0 5px;
	}
	.contact .nav-tabs li .fa {
		background: #0aabe1;
		text-align: center;
		border-radius: 50%;
		color: #fff;
		font-size: 14px;
		height: 32px;
		line-height: 2;
		width: 32px;
	}
	section.contact {
		padding-top: 145px;
	}
	.sub-head{
		display: block;
		margin-top: 20px;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
   
	#portfolio .col-sm-3 {
		width:100%;
		float: none;
	}
	button.navbar-toggle {
		margin: 23px;
	}

	#home-slider .caption h1 {
		font-size: 24px;
		letter-spacing: 5px;
	}
	#home-slider .caption p {
		color: #fff;
		font-weight: 300;
		font-size: 20px;
	}
	.contact .nav-tabs li {
		display: inline-block;
		margin: 0 5px;
	}
	section.contact {
		padding-top: 145px;
	}
	.contact .nav-tabs li .fa {
		background: #0aabe1;
		text-align: center;
		border-radius: 50%;
		color: #fff;
		font-size: 14px;
		height: 32px;
		line-height: 2;
		width: 32px;
	}
	.sub-head{
		display: block;
	}

	
}


@media (max-width: 320px) {
   
   
}
